* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.logoContainer{
    /* Flexbox */
    display:flex;
    flex-flow:row wrap;  
}

.content {
    flex: 1;
}

header h1{
    text-align: center;
    /* border: 1px solid black; */
    width: 411px;
    height: 66px;
    margin: 30px auto;
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color: #1D3354;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logoImg{
    width: 220px;
    height: 150px;
}
.rioLogo{
    width: 226px;
    height: 175px;
    padding-right: 3%;
}

.navegador{
    display: flex;
    width: 100%;
    height: 60px;
    background: #D64045;
    mix-blend-mode: normal;
    border: 1px solid #D64045;
    box-sizing: border-box;
    margin: auto;
    flex-wrap: wrap;
    align-items:center;
} 

.navegador ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.navegador li{
    list-style-type: none;
    /* line-height: 60px; */
    width: 50%;
}
.anchor{
    display: inline-flex;
    height: 90%;
    width: 100%;
    padding: 0 10%;
    font-family: Oswald;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #E9FFF9;
    text-transform: uppercase;
    text-decoration: none;
    /* text-align: center; */
}

.anchor:hover {
    background:#FFFFFF;
    color: #D64045;
} 
.DropMenuD{
    overflow: hidden;
    cursor: pointer;
    margin-left: 60%;
    text-align: center;
    /* border: solid 2px orangered; */
    width: 20%;
    height: 50%;
    /* width: 3rem; */
    /* display: none; */
} 
.DropMenuD ul{
    display: flex;
    flex-direction: column;
}

.dropdown-content{
    color:  #1D3354;
    text-decoration: none;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    /* display: none; */
} 

/* .DropMenuD:hover .DropMenuD {
    border: solid 2px  orange;
    display: flex;
    flex-direction: column;
} */
.title{   
    display: flex;
    width: 80%;
    height: 25%; 
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    /* line-height: 8em;     or 67% */
    color: #1D3354;
    padding: 3% 1%;
    /* margin-top: 3%; */
} 
.medallasLogo{
    /* Flexbox */
	display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.topMedallistas{
    display: flex;
    justify-content: space-around;
}
.topMedallistas figure{
    width: 282px;
    height: 354px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}
.topMedallistas figure figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.topMedallistas figure img{
    width: 282px;
    height: 354px;
    border: 1px solid black;
}
.relieve:hover{
    transform: scale(1.1);
    transition: 0.5;
}
.Deportes{
    margin: 3%;
}

#byName{
    /* background-color: blanchedalmond; */
    /* text-align: center; */
    width: 100%;
}
.appearance{
    width: 60%;
}
.negro {
    background-color: black;
}
  
.hideData {
    display: none;
}
.centrado{
    text-align: center;
}

.counterAndList{
    /* position: relative; */
    margin-left: 60%;
    margin-right: auto;
}
.counterAndList p{ 
    color: silver;
    font-size: small;
}
.counterAndList select{
    width: 80%;
}

.tableContent{
    width: 75%;
    margin: auto;
    margin-bottom: 4%;
}

th{
    padding: 2%;
    margin: auto;
    width: 80%;
}

tr {
    display: flex;
    flex-direction: row;
  
}
td{ 
    /* display: none; */
    border-bottom: 1px solid rgb(153, 72, 72);
    padding: 2%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.texEnd {
    display: flex;
    justify-content: flex-end;
}
.small {
    width: 8%;
}

#myBtn{
    background: #D64045;
    border: 1px solid #D64045;
    font-family: Oswald;
    font-size: 32px;
    text-align: center;
    color: #E9FFF9;
    margin: 2% 46%;
    position: relative;
    width: max-content;

}

.button {
    cursor: pointer;
    border: 1px inset rgb(0, 0, 0);
    font-size: 13px;
    color: #FFFFFF;
    padding: 0.5em 1em;
    font-family: 'Lora', serif;
    background: #D64045;
    box-sizing: border-box;
    border-radius: 18px;
    width: 5%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.depotesdiv{
    /* border: solid 4px rgb(17, 17, 16); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 2%;
}
.sportContainer{
    justify-content: space-between;
    background-color: #EBE9E9;
    width: 33.3%;
    height: 25%;
    border: solid 20px #FFFDFD;
}
.sportTitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    color: #1D3354;
    padding: 1%;
    text-align: center;
    height: 25%;
    margin: 5%;
}
footer{
    display: block;
    width: 100%;
    height: 52px;
    background: rgba(51, 54, 59, 0.82);
    margin-top: 3%;    
}
footer p{
    /* position: relative;*/ 
    width: 100%;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

*{
    box-sizing: border-box;
}  

h1{
    text-align: center;
    color: #333;
}


/* div.table-container{

    background: #f2f2f2;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 10px #fff,
                0 0 0 11px #fff,
                0 20px 20px -12px #000;

} */
 

.tableProfile{
    /*border: 1px solid rgba(181,213,144,0.5);*/
    
   

}

.tableProfile th{
    padding: 0%;
    text-align: left;
    width: 40%;
}

.tableProfile td{
    text-align: left;
    
    padding: 0%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.tableDetail{
    font-size: .85em;
    border: 1px solid rgba(181,213,144,0.5);
    color: #666;
    border-collapse: collapse;
    /* margin-left:auto;
    margin-right: auto; */
    /* margin: auto; */
}

.tableDetail td, .tableDetail th{
    padding: .8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5);
    width: 100%;
    text-align: center;
    
}

.tableDetail th{
    background: #D64045;
    color: #fff;
    
}


@media (min-width: 360px) and (max-width: 768px) {
    body{
      background: aliceblue;
    }
    .logoImg{
        width: 100px;
        height: 80px;
    }
    header h1{
        font-size: 26px;
        margin-bottom: 0;
    }

    .rioLogo{
        width: 226px;
        height: 175px;
        padding-right: 3%;
    }

    .sportContainer{
        justify-content: space-between;
        background-color: #EBE9E9;
        width: 100%;
        height: 50%;
        border: solid 2px #FFFDFD;
    }

    /* section{
      width: 48%;
    } */
}
 
  /* @media (min-width: 768px) {
    body{
      background: red;
    }
    section{
      width: 31.33%;
    }
  } */
  
  /* @media (min-width: 1200px) {
    body{
      background: yellow;
    }
    section{
      width: 23%;
    }
  } */

  /* .olympiCelda {
    cursor: pointer
  } */

  header nav a:hover {
    background:#FFFFFF;
    color: #D64045;
}


    div .olympiCelda:hover {
        background-color: rgb(228, 224, 224);
        cursor: pointer
}

  .foto {
      height: 70px;
  }

.overlay {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modalContainer {
    background: #f6f6f6;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 50%;
    height: 70%;
    padding: 10px solid #2C3E50; 
    /* margin: 20px; */
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: column;
}

.modalContainer .closeModal {
    cursor: pointer;
    border: 1px inset rgb(0, 0, 0);
    font-size: 10px;
    width: 30px;
    height: 25px;
    color: #FFFFFF;
    padding: 0.4em 1em;
    font-family: 'Lora', serif;
    background: #D64045;
    box-sizing: border-box;
    border-radius: 18px;
}

.modalContainer .closeModal:hover {
    background: #000000;
    color: #ffffff;
}


.colorFondo1 {
    width: 100%;
    height: 50%;
}

.colorFondo2 {
    width: 100%;
    height: 50%;
}